.header {
  background: black;
  color: white;
  padding: 32px 0;
  position: fixed;
  left: 0;
  top: 0;
  right: 0; }

.container {
  width: 85%;
  max-width: 850px;
  margin: 0 auto; }

.header a {
  color: white;
  text-decoration: none;
  font-family: 'Anton', sans-serif; }

.logo-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }

.logo {
  letter-spacing: 15px;
  font-size: 1.3em; }

.menu-icon {
  display: none; }

.navegacion ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.navegacion ul li {
  display: inline-block; }

.navegacion ul li a {
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.4s linear;
  border-radius: 5px; }

.navegacion ul li a:hover {
  background: #585858; }

@media only screen and (max-width: 767px) {
  .menu-icon {
    display: block;
    cursor: pointer;
    padding: 0.5rem 1rem; }
  .navegacion {
    width: 100%;
    margin-top: 1rem; }
  .navegacion ul {
    display: none; }
  .navegacion ul.show {
    display: block; }
  .navegacion ul li {
    display: block; }
  .navegacion ul li a {
    display: block;
    padding: 0.5rem;
    transition: all 0.4s linear;
    border-radius: 5px; }
  .navegacion ul li a:hover {
    background: #585858; } }

.footer {
  background: white; }

.container-footer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
  padding: 20px; }

.footer-hijo {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 20px; }

.footer-imagen img {
  border-radius: 90%;
  width: 50%; }

.footer .fa-brands .fa-whatsapp {
  width: 50px;
  width: 50px; }

.fa-instagram {
  color: black; }

.footer h4 {
  margin-bottom: 20px;
  color: #343434;
  font-weight: 700;
  font-family: 'Anton', sans-serif; }

.footer-slogan {
  font-family: 'Montserrat', sans-serif;
  margin: 40px; }

.footer h5 {
  font-family: 'Montserrat', sans-serif; }

.footer-uno {
  border-top: 1px solid black;
  max-width: 1200px;
  margin: auto;
  text-align: center; }

.footer-img {
  display: flex;
  flex-direction: column; }

.contacto-uno {
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif; }

.contacto-dos {
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif; }

.container-flex {
  display: flex; }

.form-input {
  padding: 7px;
  margin: 7px;
  border: none;
  border-bottom: 3px solid #1c7;
  background: transparent;
  font-family: 'Montserrat', sans-serif; }

textarea {
  min-height: 120px;
  resize: none; }

.form-input[type="submit"] {
  background: #1c7; }

.form-input[type="submit"]:hover {
  background: #5f9; }

.main {
  padding-top: 9rem;
  background-image: url(../multimedia/vaso.jpg);
  background-size: cover;
  height: 70vh;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column; }

.main-uno {
  text-align: center; }

.main-uno h1 {
  color: white;
  font-family: 'Anton', sans-serif;
  letter-spacing: 5px;
  font-weight: 250px;
  font-size: 1.8em; }

.main-dos {
  font-size: 1.3em;
  color: white;
  text-align: center;
  font-family: 'Montserrat', sans-serif; }

.main-nosotros {
  display: flex;
  padding-top: 6rem;
  height: 100vh; }

.div-uno {
  background-image: url(../multimedia/amigos.jpg);
  background-size: cover;
  height: 100%;
  width: 30%; }

.div-dos {
  display: flex;
  background: black;
  height: 100%;
  width: 70%;
  overflow-y: auto;
  text-align: center; }

.div-dos p {
  align-self: center;
  padding-left: 50px;
  padding-top: 50px;
  padding-right: 50px;
  color: white;
  letter-spacing: 2px;
  font-family: 'Montserrat', sans-serif; }

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  padding-top: 6rem;
  grid-auto-rows: 150px;
  grid-gap: 10px; }

img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

img:first-child {
  grid-column: 1/3;
  grid-row: 1/3; }

img:nth-child(6) {
  grid-column: 2/4;
  grid-row: 3/5; }

img:nth-child(10) {
  grid-row: span 2; }

.main-servicios {
  padding-top: 9rem; }

.main-servicios .servicios-uno {
  display: flex;
  flex-direction: column;
  display: block;
  background: white;
  font-family: 'Anton', sans-serif;
  width: 100%;
  padding-bottom: 10px;
  text-align: center; }

.servicios-uno h1 {
  padding-bottom: 10px; }

.main-servicios .servicios-uno li {
  align-self: center;
  list-style: none;
  color: white;
  background: black;
  padding: 20px;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  border-bottom: solid 2px #1c7; }

.main-servicios .servicios-dos {
  background-image: url(../multimedia/cervezas.jpg);
  width: 100%;
  height: 200px;
  margin-bottom: 5px;
  object-fit: cover; }

.main-servicios .servicios-tres {
  background-image: url(../multimedia/barra.jpg);
  width: 100%;
  height: 200px;
  object-fit: cover; }

.main-choperas {
  padding-top: 9rem; }

.div-choperas {
  background-image: url(../multimedia/chopera-opaca.jpg);
  width: 100%; }

.div-choperas p {
  color: white;
  text-align: center;
  padding: 100px 50px 100px 50px;
  font-family: 'Montserrat', sans-serif; }

.main-cervezas {
  padding-top: 9rem;
  text-align: center; }

.h1 {
  color: white;
  font-family: 'Anton', sans-serif; }

.div-cervezas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  height: 90vh; }

.div-cervezas h2 {
  font-size: 2.5em;
  color: white;
  font-family: 'Anton', sans-serif; }

.div-cervezas p {
  color: white;
  font-family: 'Montserrat', sans-serif; }

.div-cervezas .cervezas-p1 {
  color: black;
  display: inline;
  font-size: 1.3em;
  background: white; }

.div-item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }

.cervezas-uno {
  background-image: url(../multimedia/ipa.jpg);
  width: 30%;
  min-width: 300px;
  margin: 5px 0 5px 0;
  background-size: cover; }

.cervezas-dos {
  background-image: url(../multimedia/red.png);
  width: 30%;
  min-width: 300px;
  margin: 5px 0 5px 0;
  background-size: cover; }

.cervezas-tres {
  background-image: url(../multimedia/black.jpg);
  width: 30%;
  min-width: 300px;
  margin: 5px 0 5px 0;
  background-size: cover; }

.aside {
  background: black;
  height: 70vh; }

.aside a {
  text-decoration: none;
  color: white;
  font-family: 'Anton', sans-serif;
  font-weight: 250px;
  font-size: 30px; }

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center; }

aside .flex-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 60%;
  text-align: center;
  margin-top: 10px; }

aside .flex-item:hover {
  opacity: .5; }

.uno {
  background-image: url(../multimedia/barra.jpg);
  background-size: cover; }

.dos {
  background-image: url(../multimedia/chopera.jpg);
  background-size: cover; }

.tres {
  background-image: url(../multimedia/cervezas.jpg);
  background-size: cover; }

@media screen and (max-width: 556px) {
  body {
    background: black; }
  .flex-container {
    display: inline; }
  aside .flex-item {
    width: 100%;
    height: 200px; } }

@media screen and (max-width: 556px) {
  .main-nosotros {
    display: inline-block; }
  .div-uno {
    width: 100%;
    height: 50%; }
  .div-dos {
    width: 100%;
    height: 50%; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: black; }
