.main {
    padding-top: 12rem;
    background-image: url(../multimedia/vaso.jpg);
    background-size: cover;
    height: 70vh;
}

h1 {
    text-align: center;
    color: aliceblue;
    letter-spacing: 15px;
}

.main p {
    font-size: 1.3em;
    color: white;
    text-align: center;
    margin-top: 50px;
}

// seccion noaotros

.main-nosotros {
    display: flex;
    padding-top: 12rem;
    height: 90vh;
    text-align: center;
  
}

.div-uno {
    background-image: url(../multimedia/amigos.jpg);
    background-size: cover;
    height: 100%;
    width: 30%;
}

.div-uno h1 {
    
    color: rgb(0, 0, 0)
}

.div-dos {
    background: black;
    height: 100%;
    width: 70%;
    overflow-y: auto;
}

.div-dos p {
    margin: 20px;
    color: white;
    letter-spacing: 2px;
}

// seccion eventos

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    padding-top: 12rem;
    grid-auto-rows: 150px;
    grid-gap: 10px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

img:first-child {
    grid-column: 1/3;
    grid-row: 1/3;
}

img:nth-child(6) {
    grid-column: 2/4;
    grid-row: 3/5;
}

img:nth-child(10) {
    grid-row: span 2;
}
